/*variables*/
$f-header: "futura-pt", sans-serif;
$f-body: "adobe-caslon-pro", serif;
$c-brand: #3e414a;


//possible backgrounds e4d4d2 9cb4b4 fff7f5 a7be9a 98a9a5 9e9999 cbd2b7
/* Global */
* {
  box-sizing: border-box;
  //outline: 1px rgba(0,0,0,0.2) solid;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: $f-body;
  color: $c-brand;
}

/*Layout*/

.flex-container {
    display: flex;
    flex-direction: row;
    &.div-content {
        flex-direction: column;
     }
}


.left-container {
  justify-content: center;
  align-items: center;
  width: 50%;
  @media only screen and (max-width: 800px) {
    width: 100%;
   }
}
.big-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  @media only screen and (max-width: 800px) {
    position: relative;
   }
}

.navigation {
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.icon {
  margin: 50px 15px;
  width:32px;
  height: 32px;
  border:0;
  @media only screen and (max-width: 800px) {
    margin: 20px 10px;
    width:25px;
    height: 25px;
   }
}


.portrait-container {
  height: 550px;
  width: 320px;
  margin-top: 16%;
  background-image: url("../images/portrett.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.name-h1 {
  font-family: $f-header;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 90%;
  position: relative;
  right: -75%;
}

  .right-container {
    width: 50%;
    background-color: #b9d0d0;
    @media only screen and (max-width: 800px) {
      width: 100%;
     }
}

.div-content {
  overflow: scroll;
  padding: 4% 8%;
  justify-content: center;
  //align-items: center;
}

h2 {
  text-transform: uppercase;
  font-family: $f-header;
  letter-spacing: 0.03rem;
  font-size: 1.3rem;
  margin-top: 5%;
  color: #3e414a;
  font-weight: 500;

   &.title-h2{
     margin-top: 20%;
   }
}

.content-span {
  font-size: 1.2rem;
  box-shadow: -0.1rem 0 0 #fff;
  margin-left: 7%;
  padding-left: 2.5%;

  &.skills-span {
  word-spacing: 0.1rem;
  }
}
